* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
}


body {
    overflow-x: hidden;
    background-color: #cce7f0;
}

section {
    text-align: center;
    margin-top: 100px;
}

.converter {
    display: flex;
    gap: 20px;
    margin-left: 700px;
}

input {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.equal {
    font-size: 50px;
    margin-top: 30px;
}


.select-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.select-container select,  .select-container input{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    outline: none;
    margin: 5px;
}

.result{
    margin-top: 20px;
}


@media only screen and (max-width: 768px) {
    .converter {
        display: flex;
        gap: 20px;
        margin-left: 100px;
    }
}